.Achievements_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius:10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.Achievements_head i
{
    float: right;
}
.Achievements_text span
{
    color: orange;
}